* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f0f0f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 20px;
  width: 100%;
}

.card {
  background: #1c1c1c;
  max-width: 380px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h2 {
  color: #ffffff;
  margin-bottom: 6px;
}

.location {
  color: #a3ff12;
  font-size: 14px;
  margin-bottom: 15px;
}

.bio {
  color: #bdbdbd;
  font-size: 14px;
  margin-bottom: 20px;
}

.links a {
  display: block;
  background: #2e2e2e;
  color: #ffffff;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  transition: 0.3s;
}

.links a:hover {
  background: #a3ff12;
  color: #000;
}

/*mobile */
@media (max-width: 480px) {
  .card {
    padding: 20px;
  }
}

/*tablet */
@media (min-width: 768px) {
  .card {
    max-width: 420px;
  }
}

/*desktop */
@media (min-width: 1024px) {
  .card {
    max-width: 450px;
  }
}

/*large Screen */
@media (min-width: 1440px) {
  .card {
    max-width: 480px;
  }
}
